/*
.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
*/
.Home a {
    color: #281c20;
    text-decoration: none;
}
.Home {
    color: #281c20;
    font-size: 200%;
    text-align: center;
    display: flex;
    flex-direction: column;
    width: auto;
    height: 2400px;
    
}
.Home .home-item {
    padding: 30px;
    min-height: 600px;
}
.Home #profile-img {
    background-image: url('img/profile-image.jpg');
    background-position: center;
    background-size: cover;
}
.Home .promo {
    background-color: #8e674e;
    height: 700px;
}
.Home .promo-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.Home .promo-container .icon {
    font-size: 150%;
}
.Home .promo-container .icon:hover {
    color: grey;
}
.Home .promo-img {
    width: 600px;
    height: 400px;
}
.Home #profile-menu {
    background-color: #8e674e;
}
.Home #menu-title:hover {
    color: grey;
}
.Home .menu-scroll-plate {
    margin: auto;
    padding: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;

}
.Home .menu-scroll-plate .arrow {
    display: inline-block;
    width: 60px;
    height: 60px;
    border-top: 5px solid #281c20;
    border-right: 5px solid #281c20;
}
.Home .menu-scroll-plate .arrow:hover {
    border-color: grey;
    cursor: pointer;
}
.Home .menu-scroll-plate #left {
    transform: rotate(-135deg);
}
.Home .menu-scroll-plate #right {
    transform: rotate(45deg);
}
.Home .dish-container {
    display: flex;
    width: 100%;
    justify-content: space-around;
}
.Home .dish-img-container, .dish-img {
    height: 150px;
    widows: 150px;
}

.Home .dish-img-container:hover {
    filter: brightness(70%);
}
.Home .dish-name {
    font-size: 70%;
    padding-top: 10px;
}
.Home .dish-img-container:hover + .dish-name {
    color: grey;
}
.Home #aboutus {
    background-color: #c9b799;
}