nav {
    color: whitesmoke;
    background-color:black;
    opacity: 0.8;
    padding: 12px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
    display: flex;
    align-items: center;
}
.link  {
    color: whitesmoke;
    background-color: black;
    cursor: pointer;
    text-decoration: none;
}
.link:hover, .register:hover {
    color: grey;
}
.Navlist {
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    width: 35%;
}
#logo {
    background-image: url('./img/logo.png');
    width:50px;
    height: 40px;
    background-size: contain;
}
#logo:hover {
    filter: brightness(50%);
}
.Navuser {
    float: right;
    margin: auto;
    margin-right: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 30%;
}
.click button {
    margin-top: 3px
}
button {
    cursor: pointer;
}
.register {
    color: whitesmoke;
    font-size: 80%;
}