.Menu, .Promotions, .Staffs, .Favorites, .Register {
    padding: 5px;
    min-height: 600px;
    font-size: 200%;
    color: #281c20;
    background-color: #c9b799;
    text-align: center;
}
.Menu .title h1 {
    margin-bottom: 0px;
}
.Menu .title select {
    margin-bottom: 30px;
}
.container {
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    width: 60%;
}
 .item {
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}
.item-img-container, .item-img {
    width: 200px;
    height: 200px;

}
.item-img-container:hover {
    filter: brightness(70%);
}
.item .item-img-container:hover + .item-name {
    color: grey;
}
.item-name {
    margin: auto;
    padding: 3px;
    font-size: 70%;
}
