body {
  margin: 0;
  padding: 0;
  background-color: white;
  font-family: Arial, Helvetica, sans-serif;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.HomeMenu .dish-img-container:hover + .dish-name {
    color: grey;
}
/*
.item-img-container:hover {
    filter: brightness(70%);
}
.item .item-img-container:hover + .item-name {
    color: grey;
}
*/